// 1080p screens
@media (max-width: 1920px) {
    .chapters-body {
        .logo-desktop {
            width: 300px;
        }
        .chapter-description {
            width: 80%;
        }
    }

}

// 720p screens
@media (max-width: 1280px) {
    .chapters-body {
        .chapters-gallery {
            width: 90%;
        }

        .chapter-description {
            width: 100%;
        }
    }
}

// iPad/tablet screens
@media (max-width: 768px) {
    .chapters-body {

        .header-logo {
            width: 100%;
            position: absolute;
            bottom:0;
            flex-direction: column;
        }

        .chapters-gallery {
            width: 100%
        }

        .logo-desktop {
            margin-right: auto;
            width: 200px;
        }

        nav ul li a{
            font-size: 20px;
        }

        .chapter-description {
            font-size: 25px;
            padding: 40px;
        }
    }
}

@media (max-width: 600px) {
    .chapters-body {

        .chapter-description {
            font-size: 20px;
        }

        .chapter-name {
            font-size: 2.5rem;
        }

        .jump-link {
            left: 0px;
        }

        .social-box p {
            font-size: 15px;
        }

    }
}

// LANDSCAPE SECTION

// Landscape for large phones
@media (max-height: 578px) {
    .chapters-body {
        .logo-desktop {
            width: 250px;
        }

        .chapters-gallery {
            width: 80%;
        }

        .chapter-description {
            width: 100%;
        }
    }
}

// Landscape for smartphones
@media (max-height: 420px) {
    .chapters-body {
        .chapters-gallery {
            width: 80%;
        }

        .chapter-description {
            width: 100%;
        }
    }
}

@media (max-height: 375px) {
    .chapters-body {
        .chapters-gallery {
            width: 100%;
        }

        .chapter-description {
            font-size: 15px;
        }
    }
}

// END OF LANDSCAPE SECTION

@media (max-width: 580px) {
    .chapters-body {
        .chapters-gallery div {
            flex-direction: column;
          }
          
          .chapters-gallery div h2 {
            width: 100%;
            text-align: center;
          }
          
          .chapter-title {
            padding: 10px;
            font-size: 2rem;
          }
          
          .chapter-name {
            padding-top: 0;
            font-size: 1.2rem;
          }
          
          .api-img {
            margin: auto;
            width: 50%;
          }

          .menu-container {
            display: flex;
            flex-direction: column-reverse;
            }
            .jump-link,
            audio {
            text-align: left;
            position: relative;
            top: 0;
            left: 5px;
            }
            .body-options ul li {
            width: 100%;
            }

            .jump-link {
                p {
                    font-size: 15px;
                }
            }

            audio {
                width: 140px;
                order: 2;
            }

            .footer-copyright {
                padding-top: 20px;
            }

            .footer-socials {
                display: block;
            }

            .social-box {
                width: 100%;
                p {
                    font-size: 15px;
                }
            }
    }

}


  

// Large phones (Galaxy Note.. etc.)
@media (max-width: 420px) {
    .chapters-body { 
        .menu-container {
            padding-bottom: 60px;
        }

        .previous,
        .next {
            width: 250px;
        }

        .chapters-gallery {
            padding: 10px;
        }

        .chapter-description {
            font-size: 15px;
            letter-spacing: 1px;
            line-height: 20px;
            padding: 20px;
        }

        .chapter-title {
            padding: 15px;
        }

        audio {
            width: 140px;
        }

        .social-box p {
            font-size: 15px;
        }

        .social-box a {
            font-size: 30px;
        }
        .footer-copyright{
            padding-top: 10px;
        }
    }
}

// General smartphones
@media (max-width: 400px) {
    .chapters-body {
        .previous,
        .next {
            width: 200px;
            font-size: 20px;
        }

        .menu-container {
            padding-bottom: 30px;
        }

        .post-title {
            font-size: 1.5rem;
            line-height: 1em;
            
        }

        select {
            width: 200px;
            font-size: 20px;
        }

        .social-box p {
            font-size: 15px;
        }

        .social-box a{
            font-size: 20px;
        }
        
        audio {
            width: 120px;
        }
        .chapter-description {
            line-height: 17px;
        }

        
    }
}